.task-list{
  display: flex;
  width: 88%;
  height: 100%;
  margin: 0 auto;
  flex-wrap:nowrap;
}
.list-container{
  flex: 1;
  width: 300px;
  box-shadow: 0 0 1px 0 #aaa;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dropped{
  background:rgba(0,0,0,0.6);
}
