.task-head{
    margin-right: 5em;
    font-size: 1.1em;
}
.fill{ // 使头部button撑满并居中
    flex: 1;
    // text-align: center;
     display: flex;
      justify-content: space-between;
}
.lp{
    padding-left: 12px; // 两个button之间有部分重叠,添加间距隔开
}
.header-container{ // 由于默认是block,list竖向排列设置flex 使其横向排列
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    background: rgba(202, 177, 107, 0.5);
}