<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field color="warn" class="fill-width">
        <input type="email" placeholder="请输入您的账号邮箱" matInput>
      </mat-form-field>
      <mat-form-field color="warn" class="fill-width">
        <input type="password" placeholder="请输入您的密码" matInput>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" color="accent">登录</button>
    </mat-card-actions>
    <mat-card-footer>
      还没有账号?
      <a style="color:orange" routerLink="/register">注册</a> &nbsp;&nbsp; 忘记密码?
      <a style="color:red">找回</a>
    </mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>励志名言</mat-card-title>
      <mat-card-subtitle>志向和热爱是伟大行为的双翼。 —— 歌德</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/img/dog-fallback.jpg" alt="fallback">
    <mat-card-content>
      Ambition and love are the wings of great deeds
    </mat-card-content>
  </mat-card>
</form>