.container{
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(30, 32, 31, 0.1);
}
.checkbox{
    order: -1;
}
.completed{
    text-decoration: line-through;
    opacity: 0.85;
    color: #4e8f5b;
}
.due-date{
    background-color: rgb(83, 212, 94);
    color: #fff;
    border-radius: 6px;
    font-size: 10px;
}
.alarm{
    font-size: 16px;
}
.bottom-bar{
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 10px;
    width: 100%;
    order: 1;
}
.content{
    order: 1;
    width: 100%;
    padding: 5px;
}
.avatar{
    overflow: hidden;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 12px;
    order: 3;
}
// 优先级
.priority-normal{ // 正常
    border-left: 3px solid rgba(74, 221, 86, 0.6);
}
.priority-important{ // 重要
    border-left: 3px solid rgba(183, 0, 255,.75);
}
.priority-emergency{ // 紧急
    border-left: 3px solid rgba(225, 0, 0,.8);
}
// 拖拽样式
.dragged{
    opacity:0.8;
    border: 2px dashed #fa0;
}
